<h2>ENTER a NEW FIGURE</h2>
<form action="/figures" method="POST">
  <label>Name: </label><input type="text" name="figure[name]">
  <br><br>

  <label>Choose landmarks(s) for the new figure:</label>
  <%@landmarks.each do |landmark|%>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>
  <br><br>
  <label>and/or, create a new landmark:</label>
  <br>
  <label>name: </label><input  type="text" name="landmark[name]"></input>
  <br></br>

  <label>Choose title(s) for the new figure:</label>
  <br>
  <%@titles.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
  <%end%>
  <br><br>

  <label>and/or, create a new title:</label>
  <br>
  <label>name: </label><input  type="text" name="title[name]"></input>
  <br></br>

  <input type="submit" value="Create New Figure">
</form>
